*.pyc
*.pyo
*.egg-info
*.mo
*.pot
*.log
*.tmp.*
*.iml
.idea/
*.swp
__pycache__
bin
build
develop-eggs
eggs
parts
.DS_Store
.installed.cfg
docs/_build
.tox
.project
.pydevproject

data/
venv/
cover/

.externalToolBuilders
.settings
