<!-- Modal -->
<div class="modal fade colored-header" id="mod-product" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Product Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <table class="no-border no-strip information">
                        <tbody class="no-border-x no-border-y">
                        <tr>
                            <td style="width:20%;" class="category"><strong>CONTACT</strong></td>
                            <td>
                                <table class="no-border no-strip skills">
                                    <tbody class="no-border-x no-border-y">
                                    <tr><td style="width:20%;"><b>Website</b></td><td>www.website.com</td></tr>
                                    <tr><td style="width:20%;"><b>E-mail</b></td><td>johnny@example.com</td></tr>
                                    <tr><td style="width:20%;"><b>Mobile</b></td><td>(999) 999-9999</td></tr>
                                    <tr><td style="width:20%;"><b>Location</b></td><td>Montreal, Canada</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="category"><strong>Description</strong></td>
                            <td><p>I am a web developer and desginer based in Medellín - Colombia, I like read books, good music and nature.</p></td>
                        </tr>
                        <tr>
                            <td class="category"><strong>SOCIAL</strong></td>
                            <td> 
                                <button class="btn btn-default btn-flat btn-facebook bg" type="button"><i class="fa fa-facebook"></i> <span>Facebook</span></button>
                                <button class="btn btn-default btn-flat btn-twitter bg" type="button"><i class="fa fa-twitter"></i> <span>Twitter</span></button>
                                <button class="btn btn-default btn-flat btn-google-plus bg" type="button"><i class="fa fa-google-plus"></i> <span>Google+</span></button>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal">Finish</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
