{% macro mgmt_ops(modal_id, view_ops, edit_ops, delete_ops, delete_ops_id) %}
<div class="header text-left">
    <a href="{{ view_ops }}">
        <i class="fa fa-eye fa-fw"></i>
        View
    </a>&nbsp;
    <a href="#" id="vehicle-new-action" data-toggle="modal" data-target="#{{ modal_id }}">
        <i class="fa fa-plus fa-fw"></i>
        New
    </a>&nbsp;
    <a href="{{edit_ops}}">
        <i class="fa fa-edit fa-fw"></i>
        Edit
    </a>&nbsp;
    <a id="{{delete_ops_id}}" href="{{delete_ops}}">
        <i class="fa fa-minus fa-fw"></i>
        Delete
    </a>
</div>
{% endmacro %}

{% macro assign_relative_ops(modal_id, label_name) %}
<div class="header text-left">
    <a href="#" data-toggle="modal" data-target="#{{ modal_id }}">
        <i class="fa fa-cogs fa-fw"></i>
        {{ label_name }}
    </a>
    &nbsp;
    <a href="#">
        <i class="fa fa-minus fa-fw"></i>
        Delete
    </a>
</div>
{% endmacro %}
