{% extends "layout/layout.html" %}

{% block main %}

<div class="cl-mcont"> 
    <div class="row">
        <div class="tab-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-puzzle-piece"></i>Privilege Management</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active cont" id="home">
                    {% include "privilege/privilege-mgmt.html"%}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal New Privilege -->
{% include "privilege/modal/privilege-new-modal.html"%}

<!-- Modal Info -->
{% include "common/modal-warning.html"%}

{% endblock %}
